.phonenav1 {
  display: none;
  height: 70rem;

  @include Responsive(tablet) {
    display: flex;
    flex-direction: column;
  }
  &__content {
    &-icon {
      width: 4rem;
      height: 4rem;
    }
    &-btn {
      width: 5rem;
      height: 3rem;
    }
  }
}
.phonenav2,
.greenflag {
  display: none;
  @include Responsive(tablet) {
    display: flex;
  }
}
.greenflag {
  &__line {
    width: 0.1rem;
    height: 2rem;
  }
}
.accordion-button {
}
