.story {
  cursor: grab;
  &__content {
    @include Responsive(tablet) {
      max-width: 98vw !important;
    }
  }
  &__item {
    width: 8.5rem;
    height: 8.5rem;
    padding: 0.3rem;
    @include Responsive(phone) {
      width: 12.5rem;
      height: 12.5rem;
    }
    @include Responsive(phoneL) {
      width: 10.5rem;
      height: 10.5rem;
    }
  }
  &__text {
    font-size: $fs-5;
    max-width: 8.5rem;
    @include centrizeTag();
    @include lineBreak();
  }
  &__btn {
    width: 4rem;
    height: 4rem;
    background-color: $white;
    color: $subtitle;
    font-size: $fs-4;
    border-radius: 100%;
    border: 0.1rem solid $subtitle;
    @include Responsive(tablet) {
      display: none;
    }
    &::after {
      font-size: $fs-3;
    }
  }
}
